# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub
- Remember the first subject: "Tools for Data Science"

##### Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. SQL
4. Scala
5. Java

##### Some of the commonly used libraries used by Data Scientist include:

1. Pandas
2. Numpy
3. SciPy
4. Matplotlib

| Data Science Tools |
| ------ |
| Jupyter Notebooks |
| Anaconda |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python:

- Addition: print(2+3) = 5
- Subtraction: print(4-2) = 2
- Multiplication: print (5*2) = 10

In [27]:
# This a simple arithmetic expression to mutiply then add integers
print ((3*4)+5)

17

In [28]:
# This will convert 200 minutes to hours by diving by 60
X = 200
Y = 60
Z = 200 / 60
print("200 minutes equals", Z, " hours")

200 minutes equals 3.3333333333333335  hours

## Author
Naguib Abd√≥n Yaser Petit